   @import url('https://fonts.googleapis.com/css?family=Work+Sans:600');
   
    img {
        border-radius:20px;
    }
    
    body {
        background-color: black;
        background-image:url("../img/chess.jpg");
        
    }
    
    #main {
        font-family: 'Work Sans', sans-serif;
        width:600px;
        height:500px;
        position:relative;
        margin:0 auto;
        color: green;
        font-size: 200%;
        text-align: center;
    }
    #fact{
         font-family: 'Work Sans', sans-serif;
         top:275px;
         left:100px;
         position: absolute;
         width:300px;
         color:white;
         font-size: 200%;
    }
     #test{
         font-family: 'Work Sans', sans-serif;
         top:175px;
         left:100px;
         position: absolute;
         width:300px;
         color:white;
         font-size: 200%;
    }
    #hideshow{
         font-family: 'Work Sans', sans-serif;
         top:240px;
         left:150px;
         position: absolute;
         width:300px;
         color:white;
         font-size: 1.3em;
    }
    #move{
        top:375px;
        right:90px;
        position:absolute;
        font-size: 150%;
        outline:none; /*hides button outline when clicking on it*/
        font-weight:bold;
        color:white;
        cursor:pointer;
    }
    #play{
        top:400px;
        right:100px;
        position:absolute;
        font-size: 200%;
        outline:none; /*hides button outline when clicking on it*/
        font-weight:bold;
        color:black;
        cursor:pointer;
    }
    
   
    